body {
    min-height: 100vh;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.calc-container {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    background-color: black;
    border: 8px solid black;
}

button:hover {
    cursor: pointer; 
}

h1 {
    flex: 1;
    margin: 0;
    padding: 20px; 
    background-color: lightgrey;
    align-self: flex-end; 
    text-align: end; 
    color: white;
}

p {
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    width: 400px;
    gap: 2%;
}

.num, .op, .equals {
    flex: 1; 
    padding: 30px;
    font-size: 30px; 
}

.op, .equals {
    background-color: lightsalmon; 
}

.num {
    background-color: lightseagreen;
}